body {
    background-color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;
}

h1 {
    font-size: 70pt;
    background-color: #FFCC00;
    padding: 18px 18px 0 18px;
    margin-bottom: 0;
    word-wrap: break-word;

}

.gg {
    height: 50px;
    background: rgb(255, 204, 0);
    background: linear-gradient(180deg, rgba(255, 204, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

h2 {
    font-size: 38pt;

}

p {
    font-size: 18pt;
}

ul {
    list-style-image: url(./lock.png);
   margin: 0 20px;
}